## <font color="brown">IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd

### <font color="green">EXTRACTING DATASETS

In [2]:
gb_df=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SUMMARIZATION\Dataset\Group By\Gb_gender.csv")

In [3]:
gb_df

    Gender  Degree  Height        City
0     Male    B.Sc     174   Hyderabad
1   Female  B.Tech     167     Chennai
2   Female     B.E     169       Vizag
3     Male   B.Com     173       Delhi
4     Male     MBA     177      Jaipur
..     ...     ...     ...         ...
76  Female    B.Sc     176   Hyderabad
77    Male     MCA     178     Chennai
78  Female    B.Sc     178   Hyderabad
79    Male  B.Tech     174  Chandigarh
80    Male  M.Tech     175     Lucknow

[81 rows x 4 columns]

In [4]:
df_gg=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SUMMARIZATION\Dataset\Group By\gbsales.csv")

In [5]:
df_gg

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [6]:
mov=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SUMMARIZATION\Dataset\Group By\imdb-top-1000.csv")

In [7]:
mov

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [8]:
dli=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SUMMARIZATION\Dataset\Group By\deliveries.csv")

In [9]:
dli

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [10]:
mov.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0

In [18]:
mov.select_dtypes(["int64","float"])

     Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
0        142          9.3      2343110   28341469.0       80.0
1        175          9.2      1620367  134966411.0      100.0
2        152          9.0      2303232  534858444.0       84.0
3        202          9.0      1129952   57300000.0       90.0
4         96          9.0       689845    4360000.0       96.0
..       ...          ...          ...          ...        ...
995      115          7.6       166544  679874270.0       76.0
996      201          7.6        34075  195217415.0       84.0
997      118          7.6        43374   30500000.0       85.0
998       97          7.6        26471  852142728.0       78.0
999       86          7.6        51853  302787539.0       93.0

[1000 rows x 5 columns]

In [13]:
mov["Genre"].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

In [11]:
# It give path
mov.groupby("Genre")

In [12]:
# Storing this into a variable.
gen=mov.groupby("Genre")

##### APPLY BUILT-IN AGGREGATE FUNCTION ON GROUP BY OBJECTS

In [14]:
# IT IS DATAFRAME.
# "GENRE" IS THE INDEX.
# WE SUM ALL THE NUMERIC COLUMN FOR EVERY "GENRE".

gen.sum()

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0
Crime        13524        857.8     33533615  8.452632e+09     6706.0
Drama        36049       2299.7     61367304  3.540997e+10    19208.0
Family         215         15.6       551221  4.391106e+08      158.0
Fantasy        170         16.0       146222  7.827267e+08        0.0
Film-Noir      312         23.9       367215  1.259105e+08      287.0
Horror        1123         87.0      3742556  1.034649e+09      880.0
Mystery       1429         95.7      4203004  1.256417e+09      633.0
Thriller       108          7.8        27733  1.755074e+07       81.0
Western        593         33.4      1289665  5.822151e+07      313.0

In [19]:
gen.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. IÃ±Ã¡rritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro AmenÃ¡bar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [20]:
gen.max()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,YÃ´jinbÃ´,2019,321,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,98.0
Adventure,Zombieland,PG,228,8.6,Ã–mer Faruk Sorak,Yves Montand,1512360,874211619.0,100.0
Animation,Ã”kami kodomo no Ame to Yuki,2020,137,8.6,Yoshifumi KondÃ´,YÃ´ji Matsuda,999790,873839108.0,96.0
Biography,Zerkalo,2020,209,8.9,Tom McCarthy,Ã‰ric Toledano,1213505,753585104.0,97.0
Comedy,Zindagi Na Milegi Dobara,2020,188,8.6,Zoya Akhtar,Ã–mer Faruk Sorak,939631,886752933.0,99.0
Crime,Ã€ bout de souffle,2019,229,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,100.0
Drama,Zwartboek,2020,242,9.3,Ã‡agan Irmak,Ã‡etin Tekindor,2343110,924558264.0,100.0
Family,Willy Wonka & the Chocolate Factory,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0
Horror,The Thing,2017,122,8.5,William Friedkin,Sigourney Weaver,787806,298791505.0,97.0
Mystery,Vertigo,2012,138,8.4,Terry Gilliam,Vidya Balan,1129894,474203697.0,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,165,8.8,Sergio Leone,Henry Fonda,688390,31800000.0,90.0

In [26]:
# FINDING THE TOP 3 GENRES BY TOTAL EARNING.
gen.sum()["Gross"].sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [32]:
# The best way to do.  Always do like this
gen["Gross"].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [34]:
# FINDING THE GENRE WITH HIGHEST AVG IMDB RATING
gen["IMDB_Rating"].mean().sort_values(ascending=False)

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Drama        7.957439
Action       7.949419
Biography    7.938636
Adventure    7.937500
Animation    7.930488
Horror       7.909091
Comedy       7.901290
Family       7.800000
Thriller     7.800000
Name: IMDB_Rating, dtype: float64

In [36]:
# FIND DIRECTOR WITH MOST POPULARITY.
dr=mov.groupby("Director")  # First Groupby it basis of "Director"

In [38]:
dr["No_of_Votes"].sum().sort_values(ascending=False)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
David Fincher         6607859
Martin Scorsese       6513530
                       ...
J. Lee Thompson         26457
Peter Mullan            25938
RenÃ© Laloux             25229
Francis Lee             25198
Kaige Chen              25088
Name: No_of_Votes, Length: 548, dtype: int64

In [43]:
# FIND NUMBER OF MOVIES DONE BY EACH ACTOR.
mov["Star1"].value_counts() # Simple Way

Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: Star1, Length: 660, dtype: int64

In [45]:
st=mov.groupby("Star1") # Using group by

In [47]:
st["Series_Title"].count().sort_values(ascending=False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ã–mer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

### <font color="brown">GROUP BY ATTRIBUTES & METHODS

#### 1. len
    It find the total number of groups.

In [49]:
len(mov.groupby("Genre"))

14

In [50]:
mov["Genre"].nunique()

14

#### 2. size
    It find items in each group.
    It also tell us how many rows go to each group.

In [51]:
mov.groupby("Genre").size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

#### 3. first() / last()
    It give first/last values of each group.

In [52]:
gen.first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [53]:
gen.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro AmenÃ¡bar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

#### 4. nth
    It give custom value of each group.

In [54]:
gen.nth(7)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Star Wars,1977,121,8.6,George Lucas,Mark Hamill,1231473,322740140.0,90.0
Adventure,Queen,2013,146,8.2,Vikas Bahl,Kangana Ranaut,60701,1429534.0,NaN
Animation,Mononoke-hime,1997,134,8.4,Hayao Miyazaki,YÃ´ji Matsuda,343171,2375308.0,76.0
Biography,Amadeus,1984,160,8.3,Milos Forman,F. Murray Abraham,369007,51973029.0,88.0
Comedy,AmÃ©lie,2001,122,8.3,Jean-Pierre Jeunet,Audrey Tautou,703810,33225499.0,69.0
Crime,The Silence of the Lambs,1991,118,8.6,Jonathan Demme,Jodie Foster,1270197,130742922.0,85.0
Drama,Whiplash,2014,106,8.5,Damien Chazelle,Miles Teller,717585,13092000.0,88.0
Horror,Halloween,1978,91,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
Mystery,The Lady Vanishes,1938,96,7.8,Alfred Hitchcock,Margaret Lockwood,47400,474203697.0,98.0

#### 5. get_group
    It give all the values of a particulat group

In [55]:
# It give all the movies that comes under "Drama" genre.
gen.get_group("Drama")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
9,Fight Club,1999,139,Drama,8.8,David Fincher,Brad Pitt,1854740,37030102.0,66.0
11,Forrest Gump,1994,142,Drama,8.8,Robert Zemeckis,Tom Hanks,1809221,330252182.0,82.0
17,One Flew Over the Cuckoo's Nest,1975,133,Drama,8.7,Milos Forman,Jack Nicholson,918088,112000000.0,83.0
20,Soorarai Pottru,2020,153,Drama,8.6,Sudha Kongara,Suriya,54995,556832648.0,NaN
...,...,...,...,...,...,...,...,...,...,...
990,GiÃ¹ la testa,1971,157,Drama,7.6,Sergio Leone,Rod Steiger,30144,696690.0,77.0
993,Blowup,1966,111,Drama,7.6,Michelangelo Antonioni,David Hemmings,56513,632532802.0,82.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0

#### 6. Groups
    It give all the groups in Dictionary

In [56]:
# Here Key--> Genre Name
# Values--> Index Position / Number inside list 
gen.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

#### 7. Describe

In [58]:
gen.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

#### 8. Sample

In [59]:
gen.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
784,The Last Samurai,2003,154,Action,7.7,Edward Zwick,Tom Cruise,400049,111110575.0,55.0
300,Ben-Hur,1959,212,Adventure,8.1,William Wyler,Charlton Heston,219466,74700000.0,90.0
744,The Lego Movie,2014,100,Animation,7.7,Christopher Miller,Phil Lord,323982,257760692.0,83.0
729,The Theory of Everything,2014,123,Biography,7.7,James Marsh,Eddie Redmayne,404182,35893537.0,72.0
128,Chhichhore,2019,143,Comedy,8.2,Nitesh Tiwari,Sushant Singh Rajput,33893,898575.0,NaN
584,The Hateful Eight,2015,168,Crime,7.8,Quentin Tarantino,Samuel L. Jackson,517059,54117416.0,68.0
448,In a Lonely Place,1950,94,Drama,8.0,Nicholas Ray,Humphrey Bogart,26784,532877349.0,NaN
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
959,Dark City,1998,100,Mystery,7.6,Alex Proyas,Rufus Sewell,187927,14378331.0,66.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [60]:
gen.sample(2,replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
326,Baby,2015,159,Action,8.0,Neeraj Pandey,Akshay Kumar,52848,223025817.0,NaN
856,The Dirty Dozen,1967,150,Action,7.7,Robert Aldrich,Lee Marvin,67183,45300000.0,73.0
576,Paddington 2,2017,103,Adventure,7.8,Paul King,Ben Whishaw,61594,40442052.0,88.0
514,Almost Famous,2000,122,Adventure,7.9,Cameron Crowe,Billy Crudup,252586,32534850.0,90.0
409,TenkÃ» no shiro Rapyuta,1986,125,Animation,8.0,Hayao Miyazaki,Mayumi Tanaka,150140,715920290.0,78.0
891,Incredibles 2,2018,118,Animation,7.6,Brad Bird,Craig T. Nelson,250057,608581744.0,80.0
987,Midnight Express,1978,121,Biography,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
671,Awakenings,1990,121,Biography,7.8,Penny Marshall,Robert De Niro,125276,52096475.0,74.0
830,Withnail & I,1987,107,Comedy,7.7,Bruce Robinson,Richard E. Grant,40396,1544889.0,84.0
563,His Girl Friday,1940,92,Comedy,7.9,Howard Hawks,Cary Grant,53667,296000.0,NaN
802,Training Day,2001,122,Crime,7.7,Antoine Fuqua,Denzel Washington,390247,76631907.0,69.0
111,Taxi Driver,1976,114,Crime,8.3,Martin Scorsese,Robert De Niro,724636,28262574.0,94.0
612,The Trial of the Chicago 7,2020,129,Drama,7.8,Aaron Sorkin,Eddie Redmayne,89896,853090410.0,77.0
793,Billy Elliot,2000,110,Drama,7.7,Stephen Daldry,Jamie Bell,126770,21995263.0,74.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
119,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000.0,100.0
961,Lost Highway,1997,134,Mystery,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

#### 9. Nunique

In [61]:
gen.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

### <font color="orange">AGGREGARTION METHOD USES

#### PASSING IN DICTIONARY

In [63]:
gen.agg({
    'Runtime':'mean',
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Metascore':'min'
})

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       33.0
Adventure  134.111111     7.937500     22576163  9.496922e+09       41.0
Animation   99.585366     7.930488     21978630  1.463147e+10       61.0
Biography  136.022727     7.938636     24006844  8.276358e+09       48.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       45.0
Crime      126.392523     8.016822     33533615  8.452632e+09       47.0
Drama      124.737024     7.957439     61367304  3.540997e+10       28.0
Family     107.500000     7.800000       551221  4.391106e+08       67.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       94.0
Horror     102.090909     7.909091      3742556  1.034649e+09       46.0
Mystery    119.083333     7.975000      4203004  1.256417e+09       52.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       69.0

#### PASSING LIST

In [64]:
gen.agg(["min","max","sum","mean"])

C:\Users\mitra\AppData\Local\Temp\ipykernel_27388\3031087277.py:1: FutureWarning: ['Series_Title', 'Released_Year', 'Director', 'Star1'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  gen.agg(["min","max","sum","mean"])

          Runtime                         IMDB_Rating                         \
              min  max    sum        mean         min  max     sum      mean
Genre
Action         45  321  22196  129.046512         7.6  9.0  1367.3  7.949419
Adventure      88  228   9656  134.111111         7.6  8.6   571.5  7.937500
Animation      71  137   8166   99.585366         7.6  8.6   650.3  7.930488
Biography      93  209  11970  136.022727         7.6  8.9   698.6  7.938636
Comedy         68  188  17380  112.129032         7.6  8.6  1224.7  7.901290
Crime          80  229  13524  126.392523         7.6  9.2   857.8  8.016822
Drama          64  242  36049  124.737024         7.6  9.3  2299.7  7.957439
Family        100  115    215  107.500000         7.8  7.8    15.6  7.800000
Fantasy        76   94    170   85.000000         7.9  8.1    16.0  8.000000
Film-Noir     100  108    312  104.000000         7.8  8.1    23.9  7.966667
Horror         71  122   1123  102.090909         7.6  8.5    87.0  7.909091
Mystery        96  138   1429  119.083333         7.6  8.4    95.7  7.975000
Thriller      108  108    108  108.000000         7.8  7.8     7.8  7.800000
Western       132  165    593  148.250000         7.8  8.8    33.4  8.350000

          No_of_Votes                                          Gross  \
                  min      max       sum           mean          min
Genre
Action          25312  2303232  72282412  420246.581395       3296.0
Adventure       29999  1512360  22576163  313557.819444      61001.0
Animation       25229   999790  21978630  268032.073171     128985.0
Biography       27254  1213505  24006844  272805.045455      21877.0
Comedy          26337   939631  27620327  178195.658065       1305.0
Crime           27712  1826188  33533615  313398.271028       6013.0
Drama           25088  2343110  61367304  212343.612457       3600.0
Family         178731   372490    551221  275610.500000    4000000.0
Fantasy         57428    88794    146222   73111.000000  337574718.0
Film-Noir       59556   158731    367215  122405.000000     449191.0
Horror          27007   787806   3742556  340232.363636      89029.0
Mystery         33982  1129894   4203004  350250.333333    1035953.0
Thriller        27733    27733     27733   27733.000000   17550741.0
Western         65659   688390   1289665  322416.250000    5321508.0

                                                   Metascore                  \
                   max           sum          mean       min    max      sum
Genre
Action     936662225.0  3.263226e+10  1.897224e+08      33.0   98.0  10499.0
Adventure  874211619.0  9.496922e+09  1.319017e+08      41.0  100.0   5020.0
Animation  873839108.0  1.463147e+10  1.784326e+08      61.0   96.0   6082.0
Biography  753585104.0  8.276358e+09  9.404952e+07      48.0   97.0   6023.0
Comedy     886752933.0  1.566387e+10  1.010572e+08      45.0   99.0   9840.0
Crime      790482117.0  8.452632e+09  7.899656e+07      47.0  100.0   6706.0
Drama      924558264.0  3.540997e+10  1.225259e+08      28.0  100.0  19208.0
Family     435110554.0  4.391106e+08  2.195553e+08      67.0   91.0    158.0
Fantasy    445151978.0  7.827267e+08  3.913633e+08       NaN    NaN      0.0
Film-Noir  123353292.0  1.259105e+08  4.197018e+07      94.0   97.0    287.0
Horror     298791505.0  1.034649e+09  9.405902e+07      46.0   97.0    880.0
Mystery    474203697.0  1.256417e+09  1.047014e+08      52.0  100.0    633.0
Thriller    17550741.0  1.755074e+07  1.755074e+07      81.0   81.0     81.0
Western     31800000.0  5.822151e+07  1.455538e+07      69.0   90.0    313.0


                mean
Genre
Action     73.419580
Adventure  78.437500
Animation  81.093333
Biography  76.240506
Comedy     78.720000
Crime      77.080460
Drama      79.701245
Family     79.000000
Fantasy          NaN
Film-Noir  95.666667
Horror     80.000000
Mystery    79.125000
Thriller   81.000000
Western    78.250000

#### PASSING IN BOTH DICTIONARY & LIST

In [66]:
gen.agg(
    {
        'Runtime':['min','mean'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Metascore':'min'
    }
)

          Runtime             IMDB_Rating No_of_Votes                  Gross  \
              min        mean        mean         sum      max           sum
Genre
Action         45  129.046512    7.949419    72282412  2303232  3.263226e+10
Adventure      88  134.111111    7.937500    22576163  1512360  9.496922e+09
Animation      71   99.585366    7.930488    21978630   999790  1.463147e+10
Biography      93  136.022727    7.938636    24006844  1213505  8.276358e+09
Comedy         68  112.129032    7.901290    27620327   939631  1.566387e+10
Crime          80  126.392523    8.016822    33533615  1826188  8.452632e+09
Drama          64  124.737024    7.957439    61367304  2343110  3.540997e+10
Family        100  107.500000    7.800000      551221   372490  4.391106e+08
Fantasy        76   85.000000    8.000000      146222    88794  7.827267e+08
Film-Noir     100  104.000000    7.966667      367215   158731  1.259105e+08
Horror         71  102.090909    7.909091     3742556   787806  1.034649e+09
Mystery        96  119.083333    7.975000     4203004  1129894  1.256417e+09
Thriller      108  108.000000    7.800000       27733    27733  1.755074e+07
Western       132  148.250000    8.350000     1289665   688390  5.822151e+07

          Metascore
                min
Genre
Action         33.0
Adventure      41.0
Animation      61.0
Biography      48.0
Comedy         45.0
Crime          47.0
Drama          28.0
Family         67.0
Fantasy         NaN
Film-Noir      94.0
Horror         46.0
Mystery        52.0
Thriller       81.0
Western        69.0

In [68]:
gb_gen = gb_df.groupby("Gender")

In [69]:
for x, y in gb_gen:
    print(x)
    print("__________________")
    print()
    print(y)
    print()
    print("********************************************")
    print()

Female
__________________

    Gender  Degree  Height        City
1   Female  B.Tech     167     Chennai
2   Female     B.E     169       Vizag
6   Female  M.Tech     172     Lucknow
7   Female     MCA     172      Bhopal
8   Female    B.Sc     179   Bangalore
10  Female     B.E     173     Chennai
12  Female     MBA     174       Delhi
13  Female    M.Sc     168      Jaipur
17  Female     MBA     178       Vizag
18  Female    M.Sc     175       Delhi
19  Female  M.Tech     177      Jaipur
21  Female    B.Sc     171     Lucknow
22  Female  B.Tech     167      Bhopal
28  Female  M.Tech     172     Lucknow
29  Female     MCA     172      Bhopal
30  Female    B.Sc     166   Bangalore
32  Female     B.E     176     Chennai
34  Female     MBA     168       Delhi
35  Female    M.Sc     166      Jaipur
39  Female     MBA     175       Vizag
40  Female    M.Sc     177       Delhi
41  Female  M.Tech     171      Jaipur
42  Female    B.Sc     173  Chandigarh
44  Female     B.E     178      Bhopal
46  Female     MBA     172   Hyderabad
47  Female    M.Sc     179       Delhi
51  Female     MBA     174      Bhopal
52  Female    M.Sc     168   Bangalore
53  Female  M.Tech     166   Hyderabad
55  Female    B.Sc     166       Vizag
56  Female  B.Tech     178       Delhi
62  Female  M.Tech     173      Jaipur
63  Female     MCA     175  Chandigarh
64  Female    B.Sc     173     Lucknow
66  Female     B.E     178   Hyderabad
68  Female     MBA     172   Hyderabad
70  Female  M.Tech     179   Hyderabad
71  Female     MCA     175       Delhi
73  Female     MBA     179      Bhopal
75  Female  M.Tech     179       Vizag
76  Female    B.Sc     176   Hyderabad
78  Female    B.Sc     178   Hyderabad

********************************************

Male
__________________

   Gender  Degree  Height        City
0    Male    B.Sc     174   Hyderabad
3    Male   B.Com     173       Delhi
4    Male     MBA     177      Jaipur
5    Male    M.Sc     178  Chandigarh
9    Male  B.Tech     166   Hyderabad
11   Male   B.Com     176       Vizag
14   Male  M.Tech     166  Chandigarh
15   Male     MCA     175     Lucknow
16   Male   B.Com     166      Bhopal
20   Male     MCA     171  Chandigarh
23   Male     B.E     173   Bangalore
24   Male   B.Com     175   Hyderabad
25   Male   B.Com     173       Delhi
26   Male     MBA     177      Jaipur
27   Male    M.Sc     178  Chandigarh
31   Male  B.Tech     173   Hyderabad
33   Male   B.Com     174       Vizag
36   Male  M.Tech     175  Chandigarh
37   Male     MCA     166     Lucknow
38   Male   B.Com     178      Bhopal
43   Male  B.Tech     177     Lucknow
45   Male   B.Com     172   Bangalore
48   Male  M.Tech     166      Jaipur
49   Male     MCA     173  Chandigarh
50   Male   B.Com     176     Lucknow
54   Male     MCA     175     Chennai
57   Male     B.E     175      Jaipur
58   Male   B.Com     177   Bangalore
59   Male   B.Com     171   Hyderabad
60   Male     MBA     171   Hyderabad
61   Male    M.Sc     167       Vizag
65   Male  B.Tech     177      Bhopal
67   Male   B.Com     172     Chennai
69   Male    M.Sc     177      Bhopal
72   Male   B.Com     178      Jaipur
74   Male    M.Sc     178       Vizag
77   Male     MCA     178     Chennai
79   Male  B.Tech     174  Chandigarh
80   Male  M.Tech     175     Lucknow

********************************************

## <font color="brown">MULTI COLUMN GROUP BY

In [70]:
mov

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [73]:
# FIND THE HIGHTEST RATED MOVIE OF EACH GENRE.
mov.groupby(["Director","Series_Title"],as_index=False).agg(Hig=("IMDB_Rating","max"))

                Director                Series_Title  Hig
0             Aamir Khan            Taare Zameen Par  8.4
1           Aaron Sorkin  The Trial of the Chicago 7  7.8
2    Abdellatif Kechiche              La vie d'AdÃ¨le  7.7
3       Abhishek Chaubey                 Udta Punjab  7.8
4        Abhishek Kapoor                 Kai po che!  7.7
..                   ...                         ...  ...
995       Zaza Urushadze                 Mandariinid  8.2
996          Zoya Akhtar                   Gully Boy  8.0
997          Zoya Akhtar    Zindagi Na Milegi Dobara  8.1
998          Ã‡agan Irmak              Babam ve Oglum  8.3
999     Ã–mer Faruk Sorak                    G.O.R.A.  8.0

[1000 rows x 3 columns]

In [74]:
# Mulitple Aggregate Functions
mov.groupby(["Director","Series_Title"],as_index=False).agg(["min","max","sum"])

                                               Released_Year              \
                                                         min   max   sum
Director            Series_Title
Aamir Khan          Taare Zameen Par                    2007  2007  2007
Aaron Sorkin        The Trial of the Chicago 7          2020  2020  2020
Abdellatif Kechiche La vie d'AdÃ¨le                      2013  2013  2013
Abhishek Chaubey    Udta Punjab                         2016  2016  2016
Abhishek Kapoor     Kai po che!                         2013  2013  2013
...                                                      ...   ...   ...
Zaza Urushadze      Mandariinid                         2013  2013  2013
Zoya Akhtar         Gully Boy                           2019  2019  2019
                    Zindagi Na Milegi Dobara            2011  2011  2011
Ã‡agan Irmak         Babam ve Oglum                      2005  2005  2005
Ã–mer Faruk Sorak    G.O.R.A.                            2004  2004  2004

                                               Runtime                Genre  \
                                                   min  max  sum        min
Director            Series_Title
Aamir Khan          Taare Zameen Par               165  165  165      Drama
Aaron Sorkin        The Trial of the Chicago 7     129  129  129      Drama
Abdellatif Kechiche La vie d'AdÃ¨le                 180  180  180      Drama
Abhishek Chaubey    Udta Punjab                    148  148  148     Action
Abhishek Kapoor     Kai po che!                    130  130  130      Drama
...                                                ...  ...  ...        ...
Zaza Urushadze      Mandariinid                     87   87   87      Drama
Zoya Akhtar         Gully Boy                      154  154  154      Drama
                    Zindagi Na Milegi Dobara       155  155  155     Comedy
Ã‡agan Irmak         Babam ve Oglum                 112  112  112      Drama
Ã–mer Faruk Sorak    G.O.R.A.                       127  127  127  Adventure

                                                                      \
                                                      max        sum
Director            Series_Title
Aamir Khan          Taare Zameen Par                Drama      Drama
Aaron Sorkin        The Trial of the Chicago 7      Drama      Drama
Abdellatif Kechiche La vie d'AdÃ¨le                  Drama      Drama
Abhishek Chaubey    Udta Punjab                    Action     Action
Abhishek Kapoor     Kai po che!                     Drama      Drama
...                                                   ...        ...
Zaza Urushadze      Mandariinid                     Drama      Drama
Zoya Akhtar         Gully Boy                       Drama      Drama
                    Zindagi Na Milegi Dobara       Comedy     Comedy
Ã‡agan Irmak         Babam ve Oglum                  Drama      Drama
Ã–mer Faruk Sorak    G.O.R.A.                    Adventure  Adventure

                                               IMDB_Rating  ...  \
                                                       min  ...
Director            Series_Title                            ...
Aamir Khan          Taare Zameen Par                   8.4  ...
Aaron Sorkin        The Trial of the Chicago 7         7.8  ...
Abdellatif Kechiche La vie d'AdÃ¨le                     7.7  ...
Abhishek Chaubey    Udta Punjab                        7.8  ...
Abhishek Kapoor     Kai po che!                        7.7  ...
...                                                    ...  ...
Zaza Urushadze      Mandariinid                        8.2  ...
Zoya Akhtar         Gully Boy                          8.0  ...
                    Zindagi Na Milegi Dobara           8.1  ...
Ã‡agan Irmak         Babam ve Oglum                     8.3  ...
Ã–mer Faruk Sorak    G.O.R.A.                           8.0  ...

                                                         Star1 No_of_Votes  \
                                                           sum         min
Director            Series_Title
Aamir Khan          Taare Zameen Par               Amole Gupte      168895
Aaron Sorkin        The Trial of the Chicago 7  Eddie Redmayne       89896
Abdellatif Kechiche La vie d'AdÃ¨le                 LÃ©a Seydoux      138741
Abhishek Chaubey    Udta Punjab                  Shahid Kapoor       27175
Abhishek Kapoor     Kai po che!                      Amit Sadh       32628
...                                                        ...         ...
Zaza Urushadze      Mandariinid                  Lembit Ulfsak       40382
Zoya Akhtar         Gully Boy                      Vijay Varma       31886
                    Zindagi Na Milegi Dobara    Hrithik Roshan       67927
Ã‡agan Irmak         Babam ve Oglum              Ã‡etin Tekindor       78925
Ã–mer Faruk Sorak    G.O.R.A.                        Cem Yilmaz       56960

                                                                      Gross  \
                                                   max     sum          min
Director            Series_Title
Aamir Khan          Taare Zameen Par            168895  168895    1223869.0
Aaron Sorkin        The Trial of the Chicago 7   89896   89896  853090410.0
Abdellatif Kechiche La vie d'AdÃ¨le              138741  138741    2199675.0
Abhishek Chaubey    Udta Punjab                  27175   27175  218428303.0
Abhishek Kapoor     Kai po che!                  32628   32628    1122527.0
...                                                ...     ...          ...
Zaza Urushadze      Mandariinid                  40382   40382     144501.0
Zoya Akhtar         Gully Boy                    31886   31886    5566534.0
                    Zindagi Na Milegi Dobara     67927   67927    3108485.0
Ã‡agan Irmak         Babam ve Oglum               78925   78925  461855363.0
Ã–mer Faruk Sorak    G.O.R.A.                     56960   56960  196206077.0

                                                                          \
                                                        max          sum
Director            Series_Title
Aamir Khan          Taare Zameen Par              1223869.0    1223869.0
Aaron Sorkin        The Trial of the Chicago 7  853090410.0  853090410.0
Abdellatif Kechiche La vie d'AdÃ¨le                2199675.0    2199675.0
Abhishek Chaubey    Udta Punjab                 218428303.0  218428303.0
Abhishek Kapoor     Kai po che!                   1122527.0    1122527.0
...                                                     ...          ...
Zaza Urushadze      Mandariinid                    144501.0     144501.0
Zoya Akhtar         Gully Boy                     5566534.0    5566534.0
                    Zindagi Na Milegi Dobara      3108485.0    3108485.0
Ã‡agan Irmak         Babam ve Oglum              461855363.0  461855363.0
Ã–mer Faruk Sorak    G.O.R.A.                    196206077.0  196206077.0

                                               Metascore
                                                     min   max   sum
Director            Series_Title
Aamir Khan          Taare Zameen Par                 NaN   NaN   0.0
Aaron Sorkin        The Trial of the Chicago 7      77.0  77.0  77.0
Abdellatif Kechiche La vie d'AdÃ¨le                  89.0  89.0  89.0
Abhishek Chaubey    Udta Punjab                      NaN   NaN   0.0
Abhishek Kapoor     Kai po che!                     40.0  40.0  40.0
...                                                  ...   ...   ...
Zaza Urushadze      Mandariinid                     73.0  73.0  73.0
Zoya Akhtar         Gully Boy                       65.0  65.0  65.0
                    Zindagi Na Milegi Dobara         NaN   NaN   0.0
Ã‡agan Irmak         Babam ve Oglum                   NaN   NaN   0.0
Ã–mer Faruk Sorak    G.O.R.A.                         NaN   NaN   0.0

[1000 rows x 24 columns]

In [ ]:
# FIND THE HIGHTEST RATED MOVIE OF EACH GENRE.